@charset "UTF-8";

@media screen and (min-width: 768px) {
    #itens {
        display: block;
    }
    span#hamburguer {
        display: none;
    }
    menu > ul > li {
        display: inline-block;
    }
}